/*=================
Fonts
===================*/
@font-face {
    font-family: Montserrat;
    src: url(./../rsc/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Parissienne;
    src: url(./../rsc/fonts/Parisienne-Regular.ttf);
}


* {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat";  
}

body {
    background-color: #fafafa; 
}

/* ==============
Style header 
=================*/

.topBar {
    width: 100%;
    height: 51px;
    background: rgba(252, 226, 227, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topBar img {
    width: 30px;
}

h1 {
    font-family: "Parissienne";
    color: #101010;
    font-size: 45px;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 62px;
    padding-top: 100px;
}

#profesion {
    font-family: "Montserrat";
    color: #101010;
    font-size: 40px;
    text-shadow: unset;
}

#headerFlor {
    width: 100%;
    height: 643px;
    top: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

#headerTitulo {
    height: 643px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}


/* ==============
Style nav
=================*/

nav {
    width: 100%;
    height: 70px;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 4px rgba(72, 71, 71, 0.25);
    font-size: 20px;
    position: sticky;
    z-index: 1;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 23px;
}

nav ul li {
    padding: 10px;
}


#raya a{
    position: relative;
    color:#000000;
    text-decoration: none;
}
#raya a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #F79F8F;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}

#raya a:hover:after{
    opacity:1;
    transform: translateY(15px)
}

#navMobile {
    display: none;
}

/*===============
Style seccion sobre mi
=================*/

#seccionSobremi {
    margin-top: 120.50px;
}

#cartasSobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CartaSobremi {
    width: 578px;
    height: 204px;
    background: #fdfdfd;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contentCartaSobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.contentCartaSobremi p {
    margin: 37px;
}

span {
    color:#1C5159;
    font-weight:900;
}

#divTitulaciones {
    margin: 50px;
}

/* div img {
    width: 200px;
    height: 200px;
    margin-right: 15px;
} */

#divTitulaciones h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.emoticono {
    width: 180px;
    height: auto;
}

#circuloFrase {
    width: 230px;
    height: 234px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 5px solid #F79F8F;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.27);
    transform: translate(50%, 10%);
}

#fraseCirculo{
    font-family: "Montserrat";
    font-style: italic;
    font-size: 17px;
    text-align: center;
    color: #000000;
    margin-top: 87px;
}

#fraseFinal {
    width: 301px;
    height: 139px;

    font-family: "Parissienne";
    font-size: 30px;
    text-align: center;
    color: #000000;
}

#flecha {
    width: 200px;
    height: 300px;
    transform: translate(0%, 50%);
}

#sobreMi {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#divFraseFlecha {
    display: flex;
    align-items: flex-end;
}


/*===============
Style seccion tratamientos
=================*/

#seccionTratamientos {
    width: 100%;
    height: auto;
    margin-top: 101px;
    padding-bottom: 70px;
    overflow: hidden;
    background: #D6EEE1;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 300px 0px 300px;
}

h3 {
    text-align: center;
    margin: 72px;
}

.tarjeta {
    width: 248px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px #D6EEE1;
    border-radius: 8px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.contentTarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px 30px;
}

#ultimasTarjetas {
    margin: 30px 0px 30px 0px !important;
    display: flex;
    justify-content: center;
}

/*=================
Style seccion contacto
===================*/

#contacto {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hola {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 2px solid #785AEF;
    border-radius: 5px;
    padding: 32px;
}

#textContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#contacto p {
    text-align: center;
    padding-top: 20px;
}


#whatsapp {
    background: none;
    border: none;
    border-radius: 50%;
    width: 58px;

    margin-right: 34px;
}

#whatsapp img {
    width: 58px;
}

#map {
    background-color: #785AEF;
    border-radius: 7px;
    width: auto;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    text-decoration: none;
    text-align: center;
    color: #fafafa;
    display: flex;
    align-items: center;
    padding: 16px;
   
}

#botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}

/*=================
Style seccion cita
===================*/

#seccionCita {
    width: 100%;
    height: 736px;
    background: #D6EEE1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 300px 0px;
    margin-top: 102px;
}

#seccionCita div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 171px;
}

#rectangulo2 p {
    text-align: center;
    font-size: 20px;
    padding: 21px 144px;
}

.botonCita {
    width: 115px;
    height: 45px;
    background: #785AEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px;
    border: none;
}

.botonCita a {
    text-decoration: none;
    color: #ffffff !important;
    text-align: center !important;
}

.botonCita:hover {
    background-color:rgba(252, 226, 227);
}

.botonCita:hover a {
    color: #000000 !important;
}

#florLoto {
    width: 219.59px;
    height: 221.84px;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
====================
animaciones
====================
*/

.scale-down-center {
	-webkit-animation: scale-down-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate both;
	        animation: scale-down-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate both;
    padding-top: 73px!important;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-7 17:14:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  

/*
====================
Responsive
====================
*/
/*Responsive Tablet*/
@media screen and (max-width: 990px) {
    #headerTitulo {
        height: 448px;
    }

    #profesion {
        padding-top: 0% !important;
        margin-bottom: 0% !important;
    }

    #sobreMi {
        flex-direction: column;
        margin: 20px;
    }

    #headerFlor {
        height: auto;
    }
    #headerFlor svg {
        width: 100%;
        height: auto;
    }

    #circuloFraseFlecha {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    #circuloFrase {
        transform: translate(0%, 0%);
    }
}

/*Responsive Mobile*/
@media screen and (max-width: 480px) {

    body {
        padding-bottom: 70px;
    }

    #RRSS {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    #headerFlor {
        width: 100%;
        height: auto;
    }

    #headerFlor svg {
        width: 100%;
        height: auto;
    }
    nav {
        display: none;
    }

    #navMobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0px;
        top: unset;
        width: 100%;
        height: 70px;
        background-color: rgba(252, 226, 227);
        text-align: center;
        box-shadow: none;
        z-index: 0;
    }

    #navMobile a {
        text-decoration: none;
        width: 100%;
        color: #000000;;
    }

    #navMobile img {
        width: 35px;
        height: 35px;
        margin-right: 0px !important;
    }

    #navMobile p {
        font-size: 14px;
        margin: 0px;
    }

    #headerFlor {
        transform: rotate(180deg);
        z-index: -10;
    }

    #headerTitulo {
        height: 170px;
        z-index: -1;
    }

    h1 {
        font-size: 28px;
    }

    #profesion {
        padding-top: 5px;
        font-size: 11px;

    }

    /*
    =======================
    Seccion sobre mi
    =======================
    */

    #seccionSobremi {
        margin-top: 0px;
    }

    #sobreMi {
        flex-direction: column;
    }

    h2 {
        font-size: 20px;
    }

    #cartasSobremi {
        width: 100%;
    }

    .CartaSobremi {
        padding-right: 0px;
        margin: 10px;
        width: calc(100% - 20px);
        height: auto;
        font-size: 12px;
    }

    .CartaSobremi p {
        font-size: 13px;
        margin: 5px;
    }

    .emoticono {
        width: 85px;
    }

    #divTitulaciones h4 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        
    }

    #divTitulaciones {
        padding: 14px;
        margin: 0px;
    }

    #circuloFraseFlecha {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    #circuloFrase {
        transform: translate(0px, 0px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    #fraseCirculo {
        margin-top: 0px;
    }

    #divFraseFlecha {
        flex-direction: column;
    }

    #fraseFinal {
        margin-top: 30px;
    }

    #flecha {
        transform: translate(23%, -16%) rotate(32deg);
        margin-right: 0px !important;
        width: 100%;
        height: 222px;
    }

    /*
    =======================
    Sección tratamientos
    =======================
    */

    #seccionTratamientos {
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    background: #D6EEE1;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    }

    .contentTarjetas {
        margin: 0px 0px;
        flex-direction: column;
    }

    .tarjeta {
        margin: 10px;
        margin-right: 0px;
    }

    /*
    =======================
    Sección contacto
    =======================
    */

    #hola {
        width: 97%;
        margin-left: 0px;
        border: none;
    }

    #botones {
        margin-top: 35px;
    }

    /*
    =======================
    Sección cita
    =======================
    */

    #seccionCita {
        height: 800px;
        border-radius: 200px 0px;
        background-color: #D6EEE1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #seccionCita div {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20pxpx;
        margin: 20px;
    }

    #rectangulo2 p {
        padding: 0px 0px;
        margin-bottom: 30px;
    }

    footer {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}